# .gitignore

# python stuff to be ignored
__pycache__/
*.py[cod]
*$py.class

# jupyter notebooks stuff to be ignored
.ipynb_checkpoints/

# MacOS stuff to be ignored
.DS_Store

# unnecessary detail to be ignored
scratch/**
charts/**
data/**
model-images/**
notebooks/build
notebooks/stan-work/**
automated/**
notebooks/grave-yard/**
redistributions/**

